@page
@model ToDoModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img src="~/dodo.png" />
    </div><br />
    <div class="text-center">
        <h3>ToDoDo er en supersmart måde hvor du hurtigt kan tilføje ToDo´s</h3>
    </div>